@tailwind base;
@tailwind components;
@tailwind utilities;

html,
body {
  padding: 0;
  margin: 0;
  font-family: "burtons", sans-serif;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

@font-face {
  font-family: 'burtons';
  src: url(../public/Burtons.otf);
}

@font-face {
  font-family: "La Belle Aurore";
  src: url("../public/assets/fonts/LaBelleAurore.woff2") format("woff2"),
    url("../public/assets/fonts/LaBelleAurore.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}

.new-font {
  font-family: "La Belle Aurore", sans-serif;
  font-size: 2.5rem;
}
